@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

.App {
  background: dodgerblue;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: 0.4s ease-in-out;
}

.cold {
  background: url(./assets/winter-street.jpg);
  background-position: center;
  background-size: cover;
}

.warm {
  background: url(./assets/summer-beach.jpg);
  background-position: center;
  background-size: cover;
}

.main {
  background-color: rgba(0, 0, 0, .7);
  height: 100vh;
}

.searchBar {
  width: 75%;
  max-width: 500px;
  font-size: 18pt;
  padding: 15px;
  border: none;
  background-color: #c1c1c1;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 30px;
  transform: translateX(-50%);
}

.content {
  padding-top: 150px;
  font-size: 24pt;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, .8);
  color: white;
  width: 75%;
  max-width: fit-content;
  margin: 0 auto;
}

.city {
  font-weight: 600;
  margin: 20px auto;
}

.date {
  font-weight: 400;
  margin: 0 0 20px 0;
}

.temperature {
  margin: 0 auto;
  background-color: rgba(255, 255, 255, .3);
  width: fit-content;
  text-align: center;
  vertical-align: center;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(255, 255, 255, .3);
}